/*! 
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing 
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <hello@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */

//==============================================================================
// Configuration
//==============================================================================

@import 'base/variables';
@import 'base/mixins';

//==============================================================================
// Reset
//==============================================================================

@import 'base/normalize';
@import 'base/reset';

//==============================================================================
// Components
//==============================================================================

@import 'components/scaffolding';
@import 'components/grid';
@import 'components/helpers';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tables';
@import 'components/navigation';
@import 'components/layout';

//==============================================================================
// Global Styles
//==============================================================================

main {
	width: 100vw;
	min-height: 100vh;
	background-color: #333;
}

.icon-tabler-help {
	width: 24px;
	height: 24px;
}

#payment-modal {
	width: 100%;
	border-radius: 6px;
	background-color: white;
	overflow: hidden;
}

form {
	flex-direction: row;
	flex-wrap: nowrap;

	header {
		background-color: #666;

		h1 {
			color: white;
		}
	}

	#card-code {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 0;
	}

	.tooltip {
		position: relative;
		margin: 0;
		padding: 0;
		background-color: transparent;
		border: 0 none;
		outline: 0 none;

		&:hover {
			background-color: transparent;
			border: 0 none;
			outline: 0 none;
			
			.tooltip-content {
				visibility: visible;
			}
		}

		&:focus {
			background-color: transparent;
			border: 0 none;
			outline: 0 none;

			.tooltip-content {
				visibility: visible;
			}
		}

		.tooltip-content {
			z-index: 1;
			position: absolute;
			visibility: hidden;
			width: 130px;
			padding: .75rem;
			border-radius: 6px;
			background-color: #dedede;
			color: #404040;
			text-align: left;
			font-size: 80%;
			font-weight: 300;
			pointer-events: none;

			&:after {
				content: " ";
				position: absolute;
				border-width: 5px;
				border-style: solid;
			}

			&.right {
				top: 50%;
				left: 120%;
				transform: translateY(-50%);

				&:after {
					top: 50%;
					right: 100%;
					transform: translateY(-50%);
					border-color: transparent black transparent transparent;
				}
			}

			&.left {
				top: 50%;
				right: 120%;
				transform: translateY(-50%);

				&:after {
					top: 50%;
					left: 100%;
					transform: translateY(-50%);
					border-color: transparent transparent transparent black;
				}
			}

			&.top {
				margin-left: -60px;
				bottom: 115%;
				left: 50%;

				&:after {
					top: 100%;
					left: 50%;
					margin-left: -10px;
					border-color: black transparent transparent transparent;
				}
			}
			
			&.bottom {
				margin-left: -60px;
				top: 115%;
				left: 50%;
				
				&:after {
					bottom: 100%;
					left: 50%;
					margin-left: -10px;
					border-color: transparent transparent black transparent;
				}
			}

			&.show {
				@include small-breakpoint {
					display: none !important;
				}
			}

			&.hide {
				@include small-breakpoint {
					display: block !important;
				}
			}
		}
	}

	#card-code-tooltip {
		display: block;
		align-self: stretch;
		margin: 0;
		padding: 0 .5rem;
		border: 1px solid #dedede;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: white;

		&:hover {
			border-color: #c5c5c5;
		}
	}

	// Currency toggler
	.toggle {
		position: relative;
		width: 45px;
		height: 24px;
		margin: 0 1.5rem;

		.button {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			border-radius: 34px;
			outline: 0 none;
			background-color: $primary-color;
			transition: .4s;

			&:before {
				position: absolute;
				content: "";
				height: 16px;
				width: 16px;
				left: 4px;
				bottom: 3px;
				border-radius: 50%;
				background-color: white;
				transition: .4s;
			}
		}

		input {
			width: 0;
			height: 0;
			opacity: 0;

			&:focus + .button {
				box-shadow: 0 0 1px $primary-color;
				background-color: darken($primary-color, 10%);
			}

			&:checked + .button:before {
				transform: translateX(20px);
			}
		}
	}

	p {
		small {
			font-style: italic;
		}
	}

	button[type=submit] {
		width: 100%;
		font-size: 1.5rem;

		.icon-tabler-lock {
			margin-right: .5rem;
		}
	}

}